.projects {
  min-height: 100vh;
  margin: 0 6rem;
  padding-bottom: 1rem;
}
.projects h1{
  font-weight: 500;
  text-align: left;
}
.cards {
    display: grid;
    grid-template-columns: 50% auto; /* Two columns *//* Two rows */
    grid-template-rows: 12rem 14rem;
    gap: 4rem; /* Optional gap between grid items */
}
.oneColumn {
    grid-row: span 2;
}

