.projects {
  min-height: 100vh;
  height: 100%;
  margin: 0 6rem;
}
.projects h1 {
  font-weight: 500;
  text-align: left;
  color: black;
}
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */ /* Two rows */
  grid-template-rows: minmax(12rem, auto);
  gap: 4rem; /* Optional gap between grid items */
  margin-bottom: 4rem;
}
.oneColumn {
  grid-row: span 2;
}

@media only screen and (max-width: 895px) {
  .projects {
    margin: 1rem;
  }
  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, 28rem);
    gap: 2rem;
  }
  .projects h1 {
    font-size: 2rem;
  }
  .oneColumn {
    grid-row: auto;
  }
}
