.nav-container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 6rem;
  position: fixed;
  top: 0;
  background-color: #4d040c;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out, background-color 0.3s ease-in-out;
  overflow: hidden;
  z-index: 1;
}
.nav-container.active {
  height: 60vh;
  padding-top: 1.2rem;
  background-color: white;
  flex-direction: column;
  justify-content: flex-start;
  align-items: end;
}

.nav-container.scrolled {
  background-color: white;
  color: black;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.54);
}

label {
  display: flex;
  flex-direction: column;
  width: 70px;
  margin-top: 0.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

label span {
  background: #fff;
  border-radius: 10px;
  height: 7px;
  margin: 7px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.scrolled {
  background: black;
}

span:nth-of-type(1) {
  width: 50%;
}

span:nth-of-type(2) {
  width: 100%;
}

span:nth-of-type(3) {
  width: 75%;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(8px, 0px);
}

input[type="checkbox"]:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

input[type="checkbox"]:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(30px, -11px) rotatez(45deg);
}

.nav-container ul {
  list-style-type: none;
  padding: none;
}
.nav-container li {
  overflow: hidden;
}

.nav-container a {
  cursor: pointer;
  color: black;
}

.navList {
  margin-right: 2.5rem;
  margin-bottom: 0;
  margin-top: 3rem;
  justify-content: center;
  max-height: 0; /* Initially hide the navList */
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Add opacity transition */
  opacity: 0; /* Initially set to invisible */
}
.nav-container.active .navList {
  max-height: 300px; /* Adjust the max-height to the desired value */
  opacity: 1;
}

.navListItem {
  text-align: left;
  margin-bottom: 1rem;
}
.navListItem a {
  display: inline-block;
  position: relative;
}
.navListItem a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navListItem a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.iconList {
  margin-top: 0;
  display: flex;
  padding: 0;
}
.iconListItem {
  margin-right: 1rem;
}
.iconListItem a {
  transition: all 0.3s ease-in-out;
}
.iconListItem:nth-child(1) a:hover {
  color: #0a66c2;
}

.iconListItem:nth-child(2) a:hover {
  color: #6e5494;
}

.iconListItem:nth-child(3) a:hover {
  color: #38434f;
}

.nav-container a {
  font-size: 2rem;
}
@media only screen and (max-width: 400px) {
  .nav-container.active {
    align-items: center;
    label {
      margin-right: 0;
      margin-left: 16rem;
    }
  }
  .navList {
    padding: 0;
    margin-right: 0;
  }
}
