.nav-container {
    background-color: #611010;
    color:#e8e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    position: sticky;
    top: 0;
    transition: background-color 0.3s;
    
 
  }
  
  .nav-container.scrolled {
    background-color: #e8e6e6;
    color: black;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
  }
  
  ul {
    padding: none;
    display: flex;
    justify-content: center;
    gap: 4rem;
    list-style-type: none;
  }
  
  li {
    cursor: pointer;
  }
  