.card {
  margin: 16px 0px;
  background-color: antiquewhite;
  border-radius: 4px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
.container p {
  padding: 0px 12px;
}
.bttn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1rem;
}
.bttn-container a {
  text-decoration: none;
}
.bttn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
