.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  h3 {
    font-weight: 500;
  }
}

.cardXL {
  height: 100%;
  h3 {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
  }
}

p {
  text-align: left;
  margin: 0;
  padding: 0 1rem;
}

.card-container {
  max-height: 13rem;
  transition: transform 0.3s ease;
}
.card-container:hover {
  transform: translateY(-2rem);
}
.card-container:not(:hover) .bttn-container.show {
  transform: translateY(0); /* Reset transform when not hovering */
}

.card-header {
  font-size: 1.5rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.icon {
  text-align: center;
  padding-top: 2rem;
}
.bttn-container-first {
  display: flex;
  justify-content: space-around;
}
.bttn-container-first button {
  width: 10rem;
}
.bttn-container-mobile {
  display: none;
  justify-content: center;
  gap: 1rem;
  margin: 1.5rem 0;
}
.bttn-container {
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  pointer-events: none;
  padding: 0.5rem 0;
}
.bttn-container.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(-1rem);
  pointer-events: auto;
}
a {
  text-decoration: none;
}
.tech {
  font-size: 0.75rem;
  display: flex;
  padding-left: 1rem;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 2rem;
}
.tech.first {
  margin-top: 0;
}

.tech li {
  margin-right: 1rem;
}

.bttn.first {
  background-color: #0087ca;
  color: black;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.401), 0 0px 0px rgba(0, 0, 0, 0.179),
    1px 0px 1px rgba(0, 0, 0, 0.267), -1px 0px 1px rgba(0, 0, 0, 0.267);
}
.bttn.first:hover {
  color: black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 8px 8px rgba(0, 0, 0, 0.22);
}

.bttn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: transparent;
  color: black;
  transition: all 0.3s ease-in-out;
}
.bttn:hover {
  color: #0087ca;
}
@media only screen and (max-width: 895px) {
  .card-container:hover {
    transform: none; /* Disable the transform on hover */
  }
  .card-header {
    flex-direction: column;
    padding: 1rem 0;
    gap: 0;
  }
  .bttn-container {
    display: none;
  }
  .bttn-container-first {
    padding: 1rem 0;
  }
  .bttn-container-mobile {
    justify-content: space-around;
    display: flex;
  }
  .bttn-container-first {
    justify-content: space-around;
  }
  .bttn-container-first button {
    width: 30vw;
  }
  .bttn {
    width: 30vw;
  }
  .card-container {
    max-height: none;
  }
  .card h3 {
    margin: 1rem 0;
  }
  .card .cardXL {
    height: auto;
  }
  .tech {
    margin-top: 1rem;
  }
  .icon {
    padding-top: 1rem;
  }
}
