.container {
  height: 100%;
  width: 100%;
  margin: 16px 0px;
  border: 2px black solid;
  border-radius: 4px;
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.75);
  transition: transform 0.3s ease;
}
.container:hover {
  transform: translateY(-2rem);
}
.container p {
  padding: 0px 12px;
}
.bttn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1rem;
}
.bttn-container a {
  text-decoration: none;
}
.bttn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
